targuess_env/
*.png
*.jpg
PREPROCESS/crawl/new_env/
PREPROCESS/28M.zip
PREPROCESS/28M_zing.csv
PREPROCESS/7M.csv
PREPROCESS/crawl/example.log


static/*
!static/train_result/
GUESS/src/result_folder
GUESS_MASK/format_translation